<%= provide(:title, @taxon.name) %>
<%= render partial: "categories_title", locals: { taxon: @taxon } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: "sidebar", locals: { taxonomies: @taxonomies } %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter" %>
        <div class="row">
          <%= render partial: "product", collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>