<!-- LIGHT SECTION -->
<%= provide(:title, @product.name) %>
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @product.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_index_path %>
          </li>
          <li class="active">
            <%= @product.name %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <%= render partial: "products_detail", locals: { product: @product, taxon: @taxon } %>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "related_product", collection: @related_products %>
    </div>
  </div>
</section>